<%= form_for(@invite) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


  <div class="field">
    <%= f.label :game_name %><br />
    <%= f.text_field :game_name %>
  </div>
  <%= f.fields_for :invitees do |builder| %>
     <%= render 'shared/invitee_fields', :f => builder %>
   <% end %>
  <div class="field">
    <%= f.label :fromtime %><br />
    <%= f.datetime_select :fromtime %>
  </div>
  <div class="field">
    <%= f.label :totime %><br />
    <%= f.datetime_select :totime %>
  </div>
  <div class="actions">
    <%= f.submit "Invite", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
