<% provide(:title, 'Invites') %>
<h1>Invites</h1>

<%= render 'form' %>

<table>
  <tr>
    <th>Game</th>
    <th>User</th>
    <th>Fromtime</th>
    <th>Totime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invites.each do |invite| %>
  <tr>
    <td><%= invite.fromtime %></td>
    <td><%= invite.totime %></td>
    <td><%= link_to 'Show', invite %></td>
    <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
    <td><%= link_to 'Destroy', invite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invite', new_invite_path %>
