<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @invite.game.name %>
</p>

<p>
  <b>organizer:</b>
  <%= @invite.organizer.name %>
</p>

<p>
  <b>Fromtime:</b>
  <%= @invite.fromtime %>
</p>

<p>
  <b>Totime:</b>
  <%= @invite.totime %>
</p>


<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
