<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<% if CONFIG[:beta_mode]==false or @user.beta_invitation_id%>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :beta_invitation_token %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :time_zone %><br />
      <%= f.time_zone_select :time_zone %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<%elsif CONFIG[:beta_mode]==true && @user.beta_invitation_id == nil%>
Sorry, we are in beta mode right now.
<%end%>