<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        
      </h1>
    </section>
    <section>
         <% if @user.games.any? %>
            <h3>Games</h3>
            <ol class="games">
              <%= render @games %>
            </ol>
            <%= will_paginate @games %>
         <%elsif current_user == @user %>
            <p> You have no games on your profile. <%=link_to "Click Here to add some.", games_path %>
         <% end %>
         <% if @personas.any? %>
            <h3>Personas</h3>
            <ol class="personas">
              <%= render @personas %>
            </ol>
            <%= will_paginate @personas %>
          <%elsif current_user == @user%>
            You have no online game profiles.<p><%= link_to "Click Here to add some.", new_persona_path %></p>
          <% end %>
            <%if current_user == @user %>
             <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
             <%end%>
         
          
          
    </section>
   <%=render partial: 'user', collection: @friends %>
  </aside>
  
  
  
  
  <div class="span8">
    <%= render 'friend_form' if signed_in? %>
   </div>
 
   
 
</div>