<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
       <div class="span8">
         <% if @user.personas.any? %>
            <h3>Personas</h3>
            <ol class="personas">
              <%= render @personas %>
            </ol>
            <%= will_paginate @personas %>
          <% end %>
        </div>
    </section>
  </aside>
  <div class="span8">
   <%= render 'friend_form' if signed_in? %>
  </div>
</div>