<li>
  <%= link_to(event) do %>
  <span class="content"><%= event.game.name %> by <%=event.organizer.name%></span>
  <%end%>
  <span class="timestamp">
    From <%= event.fromtime.to_s(:long) %> to <%=event.totime.to_s(:long)%>.
  </span>
</li>