<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @event.game.name %>
</p>

<p>
  <b>organizer:</b>
   <%= @organizer.name %>
</p>

<p>
  <b>Fromtime:</b>
  <%= @event.fromtime %>
</p>

<p>
  <b>Totime:</b>
  <%= @event.totime %>
</p>
<% if @event.invites%>
<ol class="invitees">
  <%= render partial: 'invite', collection: @event.invites, :as => :invite %>
</ol>
<%end%>

<%if @event.organizer == current_user or current_user.role == "admin"%>
<%= link_to "Delete Event", @event, method: :delete,
                              data: { confirm: "You sure?" }, class: "btn btn-danger"%>
<%end%>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
