<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @event.game.name %>
</p>

<p>
  <b>organizer:</b>
   <%= @organizer.name %>
</p>

<p>
  <b>Fromtime:</b>
  <%= @event.fromtime %>
</p>

<p>
  <b>Totime:</b>
  <%= @event.totime %>
</p>
<% if !@event.invites.empty?%>
<ol class="invitees">
  <%= render partial: 'invite', collection: @event.invites %>
</ol>
<%end%>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
