
<tr>
<td><%= game.name %></td>
<td><%= game.platform %></td>
<td>
  <div id="own_form<%=game.id%>">
    <%if @user = current_user%>
  <% if current_user.own_game?(game) %>
    <%= form_for(current_user.gameownerships.find_by(game_id: game.id),
                 html: { method: :delete },
                 remote: true) do |f| %>
      <%= f.submit "UnClaim", class: "btn btn-large" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.gameownerships.build(game_id: game.id),
                 remote: true) do |f| %>
                 <div><%= f.hidden_field :game_id %></div>
      <%= f.submit "Claim", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  <%end%>
  </div>
</td>
<td><%= link_to "Show", game %></td>
<td><%= link_to "Edit", edit_game_path(game) %></td>
<td><%= link_to "Destroy", game, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
</tr>